source https://www.nuget.org/api/v2/

nuget FSharp.Core 4.5.2
nuget JetBrains.FSharp.Compiler.Service 25.0.2
nuget FsUnit 3.0.0
nuget FsCheck
nuget Microsoft.NET.Test.Sdk
nuget NUnit.Runners
nuget NUnit3TestAdapter
nuget NunitXml.TestLogger

group build
  source https://api.nuget.org/v3/index.json
  nuget FAKE 4.64.13